*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {

}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.btn--primary{
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.325rem;
  background-color: #000;
  border: 2px solid;
  color: white;
  &:focus-visible{
    outline: 2px solid;
  }
  &:hover{
    background-color: rgb(0 0 0 / 0.8);
  }
  &:disabled{
    background-color: rgb( 0 0 0 / 0.3);
  }
}